<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="doge, dog, shibe, meme, maker, generator, wow, text, image" />
        <meta name="description" content="Wow - such doge generator" />

        <meta property="og:title" content="dogr" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://chiyodoge.herokuapp.com" />
        <meta property="og:image" content="http://chiyodoge.herokuapp.com/doge.png" />

        <meta name="viewport" content="width=600">

        <link href="/appicon/icon-120.png" rel="apple-touch-icon" />
        <link href="/appicon/icon-60.png" rel="apple-touch-icon" sizes="60x60" />
        <link href="/appicon/icon-76.png" rel="apple-touch-icon" sizes="76x76" />
        <link href="/appicon/icon-120.png" rel="apple-touch-icon" sizes="120x120" />

        <link href="/dogr.css" rel="stylesheet" media="all">
        <link href="/fonts.css" rel="stylesheet" media="all">

        <script type="text/javascript" src="/zepto.min.js"></script>
        <script type="text/javascript">
            var providedLines = {{{lines}}};
        </script>
        <title>such doge - much generator - wow</title>
    </head>
    <body>
        <div class="doge">
            <canvas id="canvas" width="600" height="600"></canvas>
            <aside>
                <textarea id="textarea"></textarea>
                <button id="wow">wow</button>
            </aside>
        </div>
        <div class="actions">
            <button id="download">such view</button>
            <button id="imgur">
                <span>very</span>
                <img class="imgur-logo" src="/imgurlogo.png">
                <span class="imgur-text">imgur</span>
            </button>
        </div>
        <footer class="tips">
        </footer>

        <script type="text/javascript" src="/dogr.js"></script>
    </body>
</html>
